
@{
    ViewBag.Title = "Nơi hỏi đáp sức khỏe trực tuyến cùng đội ngũ bác sĩ và nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model List<Service.EntityModel.PhongThaoLuan>
}
@Html.Partial("Partial/_breadcrum")
<div class="main-textgrids">
    <div class="container">
        <div class="row">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

                    <div class="panel panel-default">
                        <div class="panel-body">

                            <h1 style="color:#0f14f0"><a style="color:#0f14f0" href="@Url.Action("Phong","PhongThaoLuan",new {id= Model[i].id})">@Model[i].TenPhong</a></h1>

                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</div>
