<!--//header-top-->
<!-- //Line Slider -->
<div class="top_banner two">
    <div class="container">
        <div class="sub-hd-inner">
            <h3 class="tittle">@ViewBag.Title</h3>
        </div>
    </div>
</div>
<!--/gallery-->
