<div class="top_banner">
    <!-- SVG Arrows -->
    <div class="svg-wrap">
        <svg width="64" height="64" viewBox="0 0 64 64">
            <path id="arrow-left" d="M46.077 55.738c0.858 0.867 0.858 2.266 0 3.133s-2.243 0.867-3.101 0l-25.056-25.302c-0.858-0.867-0.858-2.269 0-3.133l25.056-25.306c0.858-0.867 2.243-0.867 3.101 0s0.858 2.266 0 3.133l-22.848 23.738 22.848 23.738z" />
        </svg>
        <svg width="64" height="64" viewBox="0 0 64 64">
            <path id="arrow-right" d="M17.919 55.738c-0.858 0.867-0.858 2.266 0 3.133s2.243 0.867 3.101 0l25.056-25.302c0.858-0.867 0.858-2.269 0-3.133l-25.056-25.306c-0.858-0.867-2.243-0.867-3.101 0s-0.858 2.266 0 3.133l22.848 23.738-22.848 23.738z" />
        </svg>
    </div>

    <div class="sleekslider">
        <!-- Slider Pages -->
        <div class="slide active bg-1">
            <div class="slide-container">
                <div class="slide-content">
                    <p>Welcome to <span class="s-p">Medicinal</span>!</p>
                </div>

            </div>
        </div>
        <div class="slide bg-2">
            <div class="slide-container">
                <div class="slide-content">
                    <p>Lorem ipsum <span class="s-p">dolor</span> sit </p>

                </div>
            </div>
        </div>
        <div class="slide bg-3">
            <div class="slide-container">
                <div class="slide-content">
                    <p>Welcome to <span class="s-p">Medicinal</span>!</p>

                </div>
            </div>
        </div>
        <div class="slide bg-4">
            <div class="slide-container">
                <div class="slide-content">
                    <p>Lorem ipsum <span class="s-p">dolor</span> sit </p>

                </div>
            </div>
        </div>
        <div class="slide bg-5">
            <div class="slide-container">
                <div class="slide-content">
                    <p>Welcome to <span class="s-p">Medicinal</span>!</p>

                </div>
            </div>
        </div>

        <!-- Navigation Arrows with Thumbnails -->
        <nav class="nav-split">
            <a class="prev" href="">
                <span class="icon-wrap"><svg class="icon" width="22" height="22" viewBox="0 0 64 64"><use xlink:href="#arrow-left" /></svg></span>
                <div>
                    <img alt="Previous thumb" />
                </div>
            </a>
            <a class="next" href="">
                <span class="icon-wrap"><svg class="icon" width="22" height="22" viewBox="0 0 64 64"><use xlink:href="#arrow-right" /></svg></span>
                <div>
                    <img alt="Next thumb" />
                </div>
            </a>
        </nav>

        <!-- Pagination -->
        <nav class="pagination">
            <span class="current"></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </nav>

        <!-- Navigation Tabs -->
        @*<nav class="tabs">
            <div class="tab-container">
                <ul>
                    <li class="current"><a href="#"><span>01</span> Slide</a></li>
                    <li><a href="#"><span>02</span> Slide</a></li>
                    <li><a href="#"><span>03</span> Slide</a></li>
                    <li><a href="#"><span>04</span> Slide</a></li>
                    <li><a href="#"><span>05</span> Slide</a></li>
                </ul>
            </div>
        </nav>*@
    </div>

    <!-- JavaScripts -->
    <script type="text/javascript" src="js/sleekslider.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <!--welcome-->
</div>


@section scripts{
    <!-- JavaScripts -->
    @*<script type="text/javascript" src="~/js/sleekslider.min.js"></script>
    <script type="text/javascript" src="~/js/app.js"></script>*@
    <!--welcome-->
}